.DS_Store
.ipynb_checkpoints/
__pychache__/
instructor/
autograder/

yelp_api_key.txt
big-mac-index-by-state-2024.json
cost-of-living-index-by-state-2025.json
statistic_id238997_us-minimum-wage-2024-by-state.xlsx
my_api_data.ipynb
my_api_data.csv
fast-food-prices-by-state-2025.json